/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    margin: -20px -20px 20px;
    padding: 10px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10px;
    /* background: #6d7fcc; */
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.6em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
#sidebar a[aria-expanded="true"]::before {
    content: '\e260';
}


#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#sidebarCollapse {
    background-color: #7386D5;

}

label{
    font-size: 14px;
    font-weight: normal;
}

form input, form textarea {
    line-height: normal;
    padding: 9px 10px 9px 8px;
    border-radius: 5.6px;
    background-color: #ffffff;
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px rgba(154, 173, 192, 0.13);
    font-size: 14px;
    /* letter-spacing: 0.4px; */
    width: 100%;
    -webkit-appearance: none;
    color: rgba(60, 65, 68, 0.8);
}

select {
    border-radius: 5.6px;
    background-color: #ffffff;
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px rgba(154, 173, 192, 0.13);
    font-size: 14px;
    /* letter-spacing: 0.4px; */
    color: rgba(60, 65, 68, 0.8);
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 9px 15px 8px 11px;
    background-image: url(./downarrow.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.control-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control-indicator:after {
    content: '';
    position: absolute;
    display: none;
    box-sizing: content-box;
}

.control-checkbox .control-indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control input:checked ~ .control-indicator:after {
    display: block;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
}

.control input:checked ~ .control-indicator {
    background: #7386D5;
}

.control-radio .control-indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control-radio .control-indicator {
    border-radius: 50%;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
    color: #999;
}

/* -------------------------------------------------
    NAV BAR STYLE
--------------------------------------------------- */
.img-fluid {
    width: 40px;
    border-radius: 50%;
}

.nav-profile {
    padding: 0px !important;
}

.nav-profile-ml {
    border: 0;
    margin: 0;
    padding: 0;
}

.nav-profile-ml .dropdown-menu {
    left: auto;
    right: 0;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

